# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists include
* Data Science Tools

Some of the popular languages that Data Scientists use:
1. Pyton
2. SQL
3. R
4. scala
5. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

 | Data Science Tools|
 | ------------------|
 |Visual Studio|
 |Rstudio|
 |Jupitor nootbook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [41]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [34]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Meghdad NR